nav
    div(class='topic')
        h2 #WarcraftQA
    div(class='links')
        ul
            li
                a(href="/") Home
            li
                a(href="/pvp") Pvp
            li
                a(href="/pve") Pve
            li
                a(href="/economy") Economy
            li
                a(href="/race") Race
            li
                a(href="/patch") Patch