nav
    div(class='topic')
        h2 #WarcraftQA
    div(class='links')
        ul
            li
                a(href="#") Economy
            li
                a(href="#") Patch
            li
                a(href="#") Event