extends blocks/main.pug

block content
    div(class="graphContainer")
        div(class="graphCell")
            canvas(id='myChart' width='400' height='400')
    script.
        document.addEventListener("DOMContentLoaded", function (event) {
            var ctx = document.getElementById('myChart');

            new Chart(ctx, {
                data: {
                    datasets: [{
                        data: !{repartitions},
                        backgroundColor: !{backgroundColors},
                        label: 'My dataset' // for legend
                    }],
                    labels: !{areas}
                },
                type: 'pie',
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: '!{optionTitle}'
                    }
                }
            });
        });