extends blocks/main.pug

block content
    div(class="graphContainer")
        div(class="graphCell")
            canvas(id='myChart' width='400' height='400')
        canvas(id='myChart3' width='400' height='400')
    script.
        document.addEventListener("DOMContentLoaded", function (event) {
            var ctx = document.getElementById('myChart');

            new Chart(ctx, {
                data: {
                    datasets: [{
                        data: !{repartitions},
                        backgroundColor: !{backgroundColors},
                        label: 'My dataset' // for legend
                    }],
                    labels: !{charts[1]['areas']}
                },
                type: 'pie',
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Tag Repartition'
                    }
                }
            });

            var ctx3 = document.getElementById('myChart3');

            new Chart(ctx3, {
                data: {
                    datasets: !{charts[2]['datasets']}
                },
                type: 'bar',
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Word Repartition'
                    }
                }
            });

        });