extends blocks/main.pug

block content
    if topTweet
        div(class='card')
            h2 Most pertinent Tweet
            p #[strong User : ] #{topTweet.user}
            p #[strong Question : ] #{topTweet.text}
    canvas(id='myChart' width='400' height='400')
    script.
        document.addEventListener("DOMContentLoaded", function(event) {
            console.log('script here')
        });