extends blocks/main.pug

block content
    div(class="graphContainer")
        canvas(id='myChart' width='400' height='400')
    script.
        document.addEventListener("DOMContentLoaded", function (event) {
            var ctx3 = document.getElementById('myChart');

            new Chart(ctx3, {
                data: {
                    datasets: !{charts[0]['datasets']}
                },
                type: 'bar',
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Word Repartition'
                    }
                }
            });
        });